.offer-card {
  width: 320px;
  height: 193px;      /* FIXED HEIGHT (as figma) */
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;   /* IMPORTANT */
}
.offer-content {
  max-width: 55%;
}

.offer-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.offer-content p {
  font-size: 13px;
  margin-bottom: 14px;
  color: #555;
}

.offer-content button {
  background: #ffffff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

.offer-image {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.offer-image img {
  max-height: 150px;   /* limit height */
  width: auto;
  object-fit: contain;
}