.routes-section {
  padding: 10px 0;
  background: #ffffff;
  
}

/* Title */
.routes-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Description */
.routes-description {
  font-size: 16.5px;
  color: #555;
  line-height: 1.6;
  max-width: 1230px;
  margin-bottom: 30px;
  
}

/* Grid Layout */
.routes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Route Card */
.route-card {
  background: #ffffff;
  border: 1.5px solid #ff7a00;
  border-radius: 16px;
  padding: 10px 0px 20px 0px;
  text-align: center;
  transition: all 0.3s ease;

}

/* Hover effect */
.route-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Title */
.route-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
}

/* Text */
.route-card p {
  margin: 6px 0;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}