.gov-section {
  background: #ffffff;
  padding: 10px 0;

}

.gov-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 80px 40px 80px;

}

.gov-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.gov-header h2 {
  font-size: 32px;
  font-weight: 600;
}

.view-all {
  color: #ff7a00;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.arrow-text {
  margin-left: 8px;
}

.gov-cards-wrapper {
  position: relative;
}

.gov-cards {
  display: flex;
  gap: 24px;
}
.slider-arrow {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);

  width: 68px;
  height: 68px;
  border-radius: 50%;

  background: #ffffff;
  border: none;
  font-size: 22px;
  color: #ff7a00;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.gov-cards-wrapper {
  position: relative;
  overflow: hidden;   /* Important */
}

.gov-cards {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.gov-cards::-webkit-scrollbar {
  display: none;
}